<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Laratools - A collection of useful everyday tools for Laravel</title>

        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="https://laratools.com/css/main.css">
        <link rel="stylesheet" href="https://laratools.com/css/prism.css">

        <link rel="shortcut icon" type="image/png" href="https://laratools.com/img/favicon-32x32.png" sizes="32x32" />
        <link rel="shortcut icon" type="image/png" href="https://laratools.com/img/favicon-16x16.png" sizes="16x16" />
    </head>
    <body>
        <header class="site-header">
            <div class="container">
                <div class="site-header__inner flex flex-column flex-md-row">
                    <div class="flex">
                        <img src="https://laratools.com/img/laratools-inverse.png" alt="Laratools Logo" class="site-header__branding-logo">

                        <h1 class="site-header__branding-name">
                            <a href="https://laratools.com" class="site-header__branding-link">
                                Laratools
                            </a>
                        </h1>
                    </div>

                    <nav class="site-header__nav float-right">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a href="https://github.com/laratools/laratools" class="nav-link">GitHub</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main class="container">
            <div class="row">

                
                    <nav class="col-sm-3 col-lg-2" role="navigation">
                        <ul class="nav flex-column">

                            
                                <li class="nav-item">
                                    <a href="https://laratools.com/" class="nav-link ">
                                        Introduction
                                    </a>
                                </li>

                            
                                <li class="nav-item">
                                    <a href="https://laratools.com/encryptable.html" class="nav-link ">
                                        Encryptable
                                    </a>
                                </li>

                            
                                <li class="nav-item">
                                    <a href="https://laratools.com/redirect-macros.html" class="nav-link active">
                                        Redirect Macros
                                    </a>
                                </li>

                            
                                <li class="nav-item">
                                    <a href="https://laratools.com/uuid.html" class="nav-link ">
                                        Uuid
                                    </a>
                                </li>

                            
                        </ul>

                                                    <p class="nav__section-header text-muted">
                                Laratools CI
                            </p>

                            <ul class="nav flex-column">
                                                                    <li class="nav-item">
                                        <a href="https://laratools.com/ci/" class="nav-link ">
                                            Introduction
                                        </a>
                                    </li>
                                                                    <li class="nav-item">
                                        <a href="https://laratools.com/ci/circleci.html" class="nav-link ">
                                            CircleCI
                                        </a>
                                    </li>
                                                                    <li class="nav-item">
                                        <a href="https://laratools.com/ci/gitlab-ci.html" class="nav-link ">
                                            GitLab CI
                                        </a>
                                    </li>
                                                            </ul>
                        
                    </nav>

                
                <section class="col-sm-9 col-lg-10 content">
                    <h1 id="redirect-macros">Redirect Macros</h1>
<p>Laratools includes several macros on the <code>RedirectResponse</code> class for easily sharing notice and success messages.
They are used in the exact same way you would redirect with error messages by using <code>redirect()-&gt;withErrors('Failed to create model...')</code>.</p>
<h2 id="success-messages">Success Messages</h2>
<p>To enable success messages you'll need to add <code>Laratools\View\Middleware\ShareSuccessesFromSession</code> to your middleware stack in <code>App\Http\Kernel</code>.
This makes <code>$successes</code> available in your views.</p>
<pre><code class="language-php">protected $middleware = [
    ...
    \Laratools\View\Middleware\ShareSuccessFromSession::class,
    ...
];</code></pre>
<p>To redirect with success messages use the <code>withSuccesses()</code> method, you may either pass in a string, array of strings, or <code>Illuminate\Contracts\Support\MessageProvider</code> instance.</p>
<pre><code class="language-php">public function store()
{
    // Store a model

    return redirect()-&gt;withSuccesses('Successfully created a model');
}</code></pre>
<p>Finally to render the messages in your views check if there are any messages using <code>$successes-&gt;any()</code> and then render each of the messages using <code>$successes-&gt;all()</code>.</p>
<pre><code class="language-php">@if ($successes-&gt;any())
    &lt;div class="alert alert-success"&gt;
        &lt;ul&gt;
            @foreach($successes-&gt;all() as $success)
                &lt;li&gt;{{ $success }}&lt;/li&gt;
            @endforeach
        &lt;/ul&gt;
    &lt;/div&gt;
@endif</code></pre>
<h2 id="notices">Notices</h2>
<p>To enable notices you'll need to add <code>Laratools\View\Middleware\ShareNoticesFromSession</code> to your middleware stack in <code>App\Http\Kernel</code>.
This makes <code>$notices</code> available in your views.</p>
<pre><code class="language-php">protected $middleware = [
    ...
    \Laratools\View\Middleware\ShareNoticesFromSession::class,
    ...
];</code></pre>
<p>To redirect with notices using the <code>withNotices()</code> method, you may either pass in a string, array of strings, or <code>Illuminate\Contracts\Support\MessageProvider</code> instance.</p>
<pre><code class="language-php">public function info()
{
    // Do something

    return redirect()-&gt;withNotices('Your import was successful, but we skipped X items...');</code></pre>
<p>Finally to render the messages in your views check if there are any messages using <code>$notices-&gt;any()</code> and then render each of the messages using <code>$notices-&gt;all()</code>.</p>
<pre><code class="language-php">@if ($notices-&gt;any())
    &lt;div class="alert alert-info"&gt;
        &lt;ul&gt;
            @foreach($notices-&gt;all() as $notice)
                &lt;li&gt;{{ $notice }}&lt;/li&gt;
            @endforeach
        &lt;/ul&gt;
    &lt;/div&gt;
@endif</code></pre>
                </section>

            </div>
        </main>

        <footer class="site-footer">
            <div class="bottom-panel">
                <div class="text-center">
                    <span>
                                                    Copyright &copy; <a href="https://iwader.co.uk">iWader Limited</a>
                                            </span>
                </div>
            </div>
        </footer>

        <script src="https://laratools.com/js/prism.min.js"></script>
        <script>
                    </script>

    </body>
</html>
